@page
@model koi.webapp.Pages.WaterParameterManagement.CreateModel

<h4>WaterParameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WaterParameter.PondId" class="control-label"></label>
                <select asp-for="WaterParameter.PondId" class ="form-control" asp-items="ViewBag.PondId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WaterParameter.MeasurementDate" class="control-label"></label>
                <input asp-for="WaterParameter.MeasurementDate" class="form-control" />
                <span asp-validation-for="WaterParameter.MeasurementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterParameter.Temperature" class="control-label"></label>
                <input asp-for="WaterParameter.Temperature" class="form-control" />
                <span asp-validation-for="WaterParameter.Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterParameter.Salt" class="control-label"></label>
                <input asp-for="WaterParameter.Salt" class="form-control" />
                <span asp-validation-for="WaterParameter.Salt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterParameter.Ph" class="control-label"></label>
                <input asp-for="WaterParameter.Ph" class="form-control" />
                <span asp-validation-for="WaterParameter.Ph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterParameter.O2" class="control-label"></label>
                <input asp-for="WaterParameter.O2" class="form-control" />
                <span asp-validation-for="WaterParameter.O2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterParameter.No2" class="control-label"></label>
                <input asp-for="WaterParameter.No2" class="form-control" />
                <span asp-validation-for="WaterParameter.No2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterParameter.No3" class="control-label"></label>
                <input asp-for="WaterParameter.No3" class="form-control" />
                <span asp-validation-for="WaterParameter.No3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterParameter.Po4" class="control-label"></label>
                <input asp-for="WaterParameter.Po4" class="form-control" />
                <span asp-validation-for="WaterParameter.Po4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
