@page
@model koi.webapp.Pages.PondManagement.CreateModel

<h4>Pond</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pond.Name" class="control-label"></label>
                <input asp-for="Pond.Name" class="form-control" />
                <span asp-validation-for="Pond.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pond.Image" class="control-label"></label>
                <input asp-for="Pond.Image" class="form-control" />
                <span asp-validation-for="Pond.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pond.Size" class="control-label"></label>
                <input asp-for="Pond.Size" class="form-control" />
                <span asp-validation-for="Pond.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pond.Depth" class="control-label"></label>
                <input asp-for="Pond.Depth" class="form-control" />
                <span asp-validation-for="Pond.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pond.Volume" class="control-label"></label>
                <input asp-for="Pond.Volume" class="form-control" />
                <span asp-validation-for="Pond.Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pond.DrainCount" class="control-label"></label>
                <input asp-for="Pond.DrainCount" class="form-control" />
                <span asp-validation-for="Pond.DrainCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pond.PumpCapacity" class="control-label"></label>
                <input asp-for="Pond.PumpCapacity" class="form-control" />
                <span asp-validation-for="Pond.PumpCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
